.expense-list {
    list-style: none;
    padding: 0;
}

.expense-list__fallback {
    color: white;
    text-align: center;
}
.delete{
    color:white;
    background-color: red;
    border:none;
    padding:10px 7px;
    border-radius: 3px;
}